{% assign disqus = site.disqus | default:site.disqus_shortname %}
{% if disqus %}
<--!
<div id="disqus_thread"></div>
<script>!function(w, d) {
  if (d.getElementById("disqus_thread")) {
    if (w.DISQUS) {
      w.DISQUS.reset({
        reload: true,
        config() {
          this.page.url = 'https://micromang.github.io{{ page.url }}'; 
          this.page.title = d.title;
	  this.page.identifier = '{{ page.id }}';
        },
      });
    } else {
      w.disqus_config = function disqusConfig() {
        this.page.url = 'https://micromang.github.io{{ page.url }}'; 
        this.page.title = d.title;
	this.page.identifier = '{{ page.id }}';
      };
      w.loadJSDeferred(d.getElementById("_hrefDisqus").href + '/embed.js');
    }
  }
}(window, document);</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
